.margin-top-1rem {
  margin-top: 1rem;
}
.restaurant-item {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  min-height: 5rem;
  line-height: 2rem;
  color: #555;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  box-shadow: 0 1px 10px 0 #bababa;

  &-left {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  &-middle {
    flex: 2;
    position: relative;
    overflow: hidden;
    padding: 0 0.5rem;
  }

  &-right {
    flex: 1;
    position: relative;
  }

  &-image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-name {
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-button {
    width: 100% !important;
    position: absolute;
    top: 50%;
    min-width: auto !important;
    transform: translate(0, -50%);
  }
}
