.body {
  font-size: 14px;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
}

.login {
  padding: 15vh 0;
}

.logo-container {
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.logo {
  height: 100%;
  margin: 0 auto;
}

.login-btn-container {
  margin-top: 2rem;
  text-align: right;
}
