.information-container {
  padding: 1.5rem 0;
  position: relative;
}

.info-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
  text-align: center;
}

.info-category {
  position: absolute;
  right: 2px;
  top: calc(-2rem - 2px);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.info-description {
  color: #333;
  line-height: 1.3rem;
  padding-bottom: 1rem;
}
.info-description small {
  color: #555;
  font-size: 0.85rem;
}
.info-map {
  width: 100%;
  height: 10rem;
  background-image: url('../../../assets/image/sample-map.jpg');
  background-size: cover;
}
